@using CodingEvents.ViewModels

@model AddEventViewModel

<h1>Add Event</h1>

<form method="post">
    <div asp-controller="Events" asp-action="Add">
        <label asp-for="Name">Event Name: <input asp-for="Name" type="text" name="name" /></label>
    </div>
    <div>
        <label asp-for="Description">Description: <input asp-for="Description" name="description"/></label>
    </div>
    <input type="submit" value="Add Event" />
</form>