<h1>Add Event</h1>

<form method="post">
    <label>Event Name: <input type="text" name="name" /></label>
    <label>Description: <input name="description"/></label>
    <input type="submit" value="Add Event" />
</form>