@using CodingEvents.ViewModels;
@model AddEventCategoryViewModel;

<form asp-controller="EventCategory" asp-action="ProcessCreateEventCategoryForm" method="post">
    <div class="form-group">
        <label asp-for="Name">Event Category Name: <input asp-for="Name" type="text"/></label>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <input type="submit" value="Add Event Category"/>
</form>